
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    margin-top: -2rem;
    /* margin-bottom: -2rem; */
    background-color: #042331;
  }
  
  .sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    user-select: none;
  
  
  }
  
  .sidebar ul  a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left:   40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    /* transition: .5s; */
  }
  
  ul li:hover a{
    padding-left: 50px;
  
  }
  
  .sidebar ul a i{
    margin-right:16px ;
  }
  
  #check{
    display: none;
  
  }
  
  label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
  }
  label #btn{
    left: 10px;
    top: 10px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
  
  
  }
  label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  
  #check:checked ~ .sidebar{
  
  left: 0;
  }
  
  #check:checked ~ label #btn{
  
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  
  #check:checked ~label #cancel{
  
    left: 195px;
  
  
  }
  
  #check:checked ~section{
  
    margin-left: 250px;
  
  }


 /* ........................ Nav Bar ....................... */

  /* * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  } */
  
  body {
    font-family: montserrat;
    /* background-image: url("/htmlCss/bg_img.jpg"); */
    background-size: 100rem;
    background: #aaa;
  }

  .topbar select{

    margin: auto;
    margin-right: 25px;
    background: white;
    border-color: white;
    font-size: 20px;
    /* font-style: bold; */


  }
  .topbar a{
    /* height: 4rem; */
    margin: auto;
    margin-right: 20px;
    /* width: 3rem; */
    /* border-radius: 2rem; */
    font-size: 20px;
    text-decoration: none;

}
  .topbar i{
    margin: auto;
    margin-right: 30px;
    color: #aaa;
    font-size: 20px;


}
.topbar img{
    /* height: 4rem; */
    margin: auto;
    width: 3rem;
    border-radius: 2rem;

}
  
  nav {
    background: rgb(255, 255, 255);
    height: 80px;
    width: 100%;
    margin-top: -2rem;
  }
  
  label.logo {
    color: rgb(7, 4, 4);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: rgb(3, 2, 2);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    /* text-transform: uppercase; */
  }
  
  a.active,
  a:hover {
    background: #1b9bff;
    transition: 0.5s;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 952pc) {
    lable.logo {
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
    ul {
      position: fixed;
      width: 20rem;
      height: 100%;
      background: rgba(99, 96, 96, 0.749);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    a:hover,
    a.active {
      background: white;
      color: #0082e6;
      transition: 0.5s;
      border-radius: 3px;
    }
    #check:checked ~ ul {
      left: 0;
      color: rgb(240, 230, 230);
    }
  }




.co b{
    font-size: 35px;
    /* margin: 10rem; */
    margin-left: -20rem;
    margin-right: 20rem;
    margin-top: 1rem;
    color: rgb(27, 57, 82);
  }
.co{
    margin: auto;
    margin-left: 42rem;
    margin-top: 7rem;
}
.co select{
    margin: auto;
    margin-left: 90px;
    /* margin-right: 20rem; */
    float: right;
    margin: 50px;
    width: 20rem;
    font-size: 15px;
    height: 2.5rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
}


.can {
    width: 20rem;
    height: 2.5rem;
    border-radius: 2rem;
    margin-top: 1rem;
}

.fa-search{
    /* width: 30rem; */
    /* height: 2.rem; */
    border-radius: 4rem;
    /* background: white; */
    text-align: center;
    font-size: 1.5rem;
    

}











/* ....................conatiner................... */

  .container{
    height: 60rem;
    width: 120rem;
    margin: 10rem 20rem 20rem;
    /* display: flex; */
  }

  .container1{
    height: 20rem;
    width: 90rem;
    display: flex;
  }
  .container2{
    height: 20rem;
    width: 90rem;
    display: flex;
  }
  .container3{
    height: 20rem;
    width: 90rem;
    display: flex;
  }
  .container4{
    height: 20rem;
    width: 90rem;
    display: flex;
  }
  .card{
    background: white;
    height: 15rem;
    width: 30rem;
    margin: 2rem;
    display: flex;
    
    
  }

.img1{
    /* height: 2rem; */
    width: 4rem;
    border-radius: 2rem;
    margin: 2rem;
    margin-top: -.8rem;
    
  }

  .card span{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: -6rem;
    margin-left: -3rem;
  }
  .card pre{
    font-size: 1rem;
    color: #aaa;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -2.7rem;
    margin-left: -1.5rem;
  }

  .bi{
    /* margin: auto; */
    /* float: right; */
    color: #aaa;
    margin-left: 24rem;
    font-size: 25px;
  }
  .card hr{
    color: rgb(173, 170, 170);
    margin-top: 2rem; 
    /* margin: auto; */
  }


  .icons i{
    width: 8rem;
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem;
    padding-left: 4rem;
    /* margin: 3px; */
    /* margin-left: 4px; */
    /* float: right; */

  }
  
  /* .pages i a{
    float:right;
    margin: auto;
    padding: 2rem;
    margin-left: -40rem;
    border: none;
    width: 1rem;
    border-color: white;
  }

  button {
    border: none;
    background-color: white;
  } */
  
 .pages{
    float: right;
    border: none;
    width: 12rem;
    margin: 25px;
    /* margin-right: 20rem; */
    background: rgb(255, 255, 255);
    border-color: rgb(246, 244, 244);
 }

  .bi-chevron-double-left{
    /* float: right; */
    /* border: none; */
    color: black;
    background: white;
    margin: auto;
    /* padding: 5px; */
    margin-right: -1rem;
  }
  .bi-chevron-double-right{
    /* float: right; */
    /* border: none; */

    /* border-color: white; */
    background: white;
    padding: -1rem;
    margin: 2px;
    margin-right: -4rem;
    color: black;
  }
  .pages button{
    /* border: yellow; */
    /* border-radius: 1rem; */
    border: none;
    width: 20px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(4, 4, 18);
    background-color: rgba(255, 255, 255, 0.164);
  }
  .pages a{
    margin: auto;
    margin-right: -2.5rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
  }
  a:hover {
    background-color: rgb(211, 211, 228); 
    color: rgb(6, 3, 3);
     /* border: 1px solid rgb(33, 28, 28); */
     border-radius: 2rem;
  }
  